body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    overflow-x: hidden;
}
h1 {
    font-size: 5em;
    text-align: left;
}
#formDiv {
    display: block;
}
.form-style{
    font-size: 2em;
}
.input-style {
    height: 40px;
    width: 300px;
    font-size: 20pt;
    border: 1px solid gold;
}
#submitBtn{
    height: 30px;
    width: 100px;
    font-size: 18pt;
    border: 1px solid #333;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin: auto;
}

/* -- POP UP */
#container {
    margin: auto;
    width: 50%;
    display: none;
    border: 1px solid #333;
    border-radius: 40px;
}
.space {
    height: 40px;
}
#s-h1 {
    font-size: 5em;
    text-align: center;
}
h2 {
    color: lightblue;
}
#break {
    height: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
}